@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3></h3>

<address>
    1 The Road<br />
    Somewhere<br />
    <abbr title="Phone">T:</abbr>
    0044 207 101010
</address>

<address>
    @*<strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>
