@using System
@model RestaurantScores.Models.Search

@{
    ViewData["Title"] = "Index";
}

<h2>DishTheDirt</h2>

<hr />
@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Index">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="SearchString" class="control-label">Enter Restaurant name and location...</label>
                    <input asp-for="SearchString" class="form-control"/>
                    <span asp-validation-for="SearchString" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Search"/>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Reset search criteria</a>
    </div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
